/*次へ*/

/*トップページ*/
.cover {
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
	width: 100vw;
}

/*名前*/
.name {
	font-size: 5em;
}

/*見出し*/
.section {
	padding: 0.25em 0.5em;
	background: transparent;
	border-left: solid 0.5em #1de9b6;
}

/*タイムライン*/
.timeline-date {
	font-size: 1.5em;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	width: 4em;
	height: 4em;
	border: solid 0.2em #1de9b6;
	border-radius: 50%;
}
.timeline-content {
	font-size: 1.5em;
	display: table-cell;
	vertical-align: middle;
}