/*名前*/
.name {
	font-size: 5em;
}

/*見出し*/
.section {
	padding: 0.25em 0.5em;
	background: transparent;
	border-left: solid 0.5em #1de9b6;
}

/*タイムライン*/
.timeline-date {
	width: 4em;
	height: 4em;
	padding-top: 1.2em;
	font-size: 1.5em;
	border: solid 0.2em #1de9b6;
	border-radius: 50%;
	text-align: center;
}
.timeline-content {
	height: 4em;
	padding-top: 1.3em;
	font-size: 1.5em;
}